{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="addcategorias">

<form action="/admin/fornecedor/novo" class="formulario" method="POST" >

  <div class="form-group">
    <label>Nome</label>
    <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite seu Nome">
  </div>
  <div class="form-group">
    <label>Localidade:</label>
    <input type="text" name="localidade" id="localidade" class="form-control" placeholder="Digite aqui">
  </div>
  <div class="form-group">
    <label>CNPJ:</label>
    <input type="text" name="cnpj" id="cnpj" class="form-control" placeholder="Digite aqui">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>

</div>