<div class="categorias">
<h2>Lista de fornecedores </h2>
<hr>

<a href="/admin/addfornecedor"><button class="btn btn-success" >Novo fornecedor</button></a>
</div>

<div class="album py-5">
<div class="container">
<div class="row">

{{#each fornecedores}}

<div class="col-md-4">
<div class="card mb-4" style="width: 18rem;">
  <div class="card-body text-white bg-info">
    <h3 class="card-title text-white bg-info mb-3">{{nome}}</h3>
    <p class="card-text">CNPJ: {{cnpj}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item active list-group-item-action list-group-item-secondary">Status de envios</li>
    <li class="list-group-item">Fevereiro: Pendente</li>
    <li class="list-group-item">Janeiro: 01/01/2019</li>
    <li class="list-group-item">Dezembro: 30/12/2019</li>
  </ul>
  <div class="card-body">
    <a href="/admin/fornecedores/{{nome}}" class="card-link">Detalhe</a>
    <a href="#" class="card-link">Base</a>
  </div>
</div>
</div>

{{else}}
      <h4 class="mt-3">Nenhum fornecedor cadastrado</h4>
{{/each}}

</div>
</div>
</div>