<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">STONE</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Painel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resumos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/base/geral">Base</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/fornecedores">Fornecedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/categorias">Oracle</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>
