.padrao {
    width: 80%;
    margin: 0 auto;
}
.containerr {
    width: 40%;
}

.addpost {
    width: 40%; 
    margin: 0 auto;
}

.legenda {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(57, 55, 59);
    margin: 0 0 0 1rem;
}

.editar {
    width: 80%; 
    margin: 0 0 3em auto;
}

.categorias {
    width: 76%; 
    margin: 0 auto;
}

.cat {
    text-align: left;
}

.editcategorias {
    width: 40%; 
    margin: 0 auto;
}


.addcategorias {
    width:70%; 
    margin: 0 auto;
}

.home {
    width: 80%; 
    margin: 0 auto;
}

.resumo {
    width: 80%; 
    margin: 0 auto;
}

.smallist {
    width: 50%; 
    margin: 0 auto;
}

.lista {
    width: 40%; 
    margin: 0 auto;
}

.registro {
    width: 30%; 
    margin: 0 auto;   
}

.postagem {
    width: 30%;
    font-size: 80%;
    margin: 0 2em 2em 2em;
}

.table2 {
    text-align: center;
    width: 300%;
    color: black;
}

.card-aviso {
    width: 76%; 
    margin: 0 1em 1em 2em;
}

.aviso {
    width: 40%; 
    margin-top: 2em;
}

.graficos {
    width: 95%; 
    border: solid 0.1em rgba(197,202,233 ,0.3);
    border-radius: .4em;
}

.graficos2 {
    width: 40%; 
    border: solid 0.1em rgba(197,202,233 ,0.3);
    border-radius: .4em;
}

/*
.secao {
    background-color: rgba(197,202,233 ,0.3);
} */


@media (max-width: 1440px) {
    .secundary {
        display: none;
 }
}

@media (max-width: 1440px) {
    .postagem {
        width: 95%;
        margin: 0 2em 2em 2em;
 }
}


/*  Formatação de fontes página de Detalhes*/

.sec2 {
     margin: 0 2em 2em 2em;
}

.fornecedor {
    
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 55, 59);
}

.separador {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    margin: 0.8em;
    border-radius: .2em;
    border: 1px solid #d0d4dd;
}

.feather-lg {
    height: 36px;
    width: 36px;
}

.sub-valores {
    color: rgb(134, 131, 131);
}

.card-text {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(59, 56, 55);
}

.teste {
    width: 10%;
    margin: 0 1em 1em 1em;
}

#reserva{
    display: none;
}



/* Nav bar config*/  


/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: rgb(26, 185, 85);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.05);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgb(26, 185, 85);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: rgb(199, 203, 219);
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(26, 185, 85);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(26, 185, 85);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(26, 185, 85);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(26, 185, 85);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: rgb(26, 185, 85);
}

a.article,
a.article:hover {
    background: rgb(26, 185, 85) !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
   /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    FORMULÁRIO CADASTRO DE FORNECEDOR
----------------------------------------------------- */

.addfornecedor {
    width:70%; 
    margin: 0 auto;
}



.pt1 {
	background-color: rgb(222, 226, 236, .6);
	text-align: left;
	padding: 4em;
    border-radius: 4px;
    display: block;
    width: 100%; 
    margin: 0 auto;
}

.pt3 {
    display: none;
}

.pt4 {
    display: none;
}


label {
    font-family: 'Lato', sans-serif;
}
