.containerr {
    width: 40%;
}

.addpost {
    width: 40%; 
    margin: 0 auto;
}

.legenda {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(57, 55, 59);
    margin: 0 0 0 1rem;
}

.editar {
    width: 80%; 
    margin: 0 0 3em auto;
}

.categorias {
    width: 76%; 
    margin: 0 auto;
}

.cat {
    text-align: left;
}

.editcategorias {
    width: 40%; 
    margin: 0 auto;
}

.addcategorias {
    width: 40%; 
    margin: 0 auto;
}

.addcategorias {
    width: 40%; 
    margin: 0 auto;
}

.home {
    width: 80%; 
    margin: 0 auto;
}

.resumo {
    width: 80%; 
    margin: 0 auto;
}

.smallist {
    width: 50%; 
    margin: 0 auto;
}

.lista {
    width: 40%; 
    margin: 0 auto;
}

.registro {
    width: 30%; 
    margin: 0 auto;   
}

.postagem {
    width: 30%;
    font-size: 80%;
    margin: 0 2em 2em 2em;
}

.table {
    text-align: center;
    width: 300%;
    color: black;
}

.card-aviso {
    width: 76%; 
    margin: 0 1em 1em 2em;
}

.aviso {
    width: 40%; 
    margin-top: 2em;
}

.graficos {
    width: 50%; 
    margin: 0 2em 2em 2em;
    border: solid 0.1em rgba(197,202,233 ,0.3);
    border-radius: .4em;
}

/*
.secao {
    background-color: rgba(197,202,233 ,0.3);
} */


@media (max-width: 1440px) {
    .secundary {
        display: none;
 }
}

@media (max-width: 1440px) {
    .postagem {
        width: 95%;
        margin: 0 2em 2em 2em;
 }
}


/*  Formatação de fontes página de Detalhes*/

.sec2 {
     margin: 0 2em 2em 2em;
}

.fornecedor {
    
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 55, 59);
}

.separador {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    margin: 0.8em;
    border-radius: .2em;
}

.feather-lg {
    height: 36px;
    width: 36px;
}

.sub-valores {
    color: rgb(134, 131, 131);
}

.card-text {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(57, 55, 59);

}
