<div class="home">
  <div class="jumbotron">
    <h1 class="display-4">Painel de Faturamento - 2019</h1>
    <p class="lead">Área destinada ao controle de faturas pagas pelo setor de tecnologia da Stone Pagamentos.</p>
    <hr class="my-4">
    <p>Para começar a usar, clique no botão abaixo:</p>
    <a class="btn btn-primary btn-lg" href="/registro" role="button">Fazer Login</a>
  </div>
</div>
