<div class="home">
  <div class="jumbotron bg-success">
    <h1 class="display-4 text-white">Suma - Supplier Management Software</h1>
    <p class="lead text-white">The Better Way to Manage Suppliers.</p>
    <hr class="my-4">
    <p class="text-white ">Para começar a usar, clique no botão abaixo:</p>
    <a class="btn btn-primary btn-lg" href="/registro" role="button">Fazer Login</a>
  </div>
</div>
