<div class="registro">

<div class="card text-center">
  <div class="card-header">
    <h2>Registrar</h2>
  </div>
  <div class="card-body">
    
    <form action="/registrar" method="POST">
        <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do usuário" required>
  </div>

<label for="email">Email</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" name="email" id="inlineFormInputGroupUsername2" placeholder="E-mail" required>
  </div>

  <div class="form-group mt-3">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" name="senha" id="exampleInputPassword1" placeholder="Password" required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword2">Confirme a senha</label>
    <input type="password" class="form-control" name="senha2" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

  </div>
  <div class="card-footer text-muted">
    {{#each erros}}
      <div class="alert alert-danger"> {{texto}} </div>
    {{else}}

    {{/each}}
  </div>
</div>

</div>