<h1>Testando</h1>

<div id="objetoJson"></div>


<script>


   var object = $.getJSON("http://localhost:3000/base/json", function(data) {
     console.log(data);
     console.log(data.lancamentos);
     

     var myJSON = JSON.stringify(data);
      $("#objetoJson").text(myJSON);

    });

    console.log("Requisiçao retornada");

    


</script>


{{!-- var vPool="";
    $.each(data, function(i, val) {
        vPool += val;
 
    });

     $('#objetoJson').html(vPool); --}}




{{!-- Tentar isso amanha  --}}


     {{!--  $.ajax({
        url: 'sua-url',
        type: 'POST',
        data: seus-dados,
        success: function(data)
       {
            var response = $.parseJSON(data); 
            var acctid = response.acctid
            var status = response.status
            ....
        } --}}